.link {
	border-radius: var(--border-radius-secondary);

	background-color: var(--color-button-background-secondary);

	padding-inline: var(--offset-button-tetriary);
	padding-block: calc(var(--offset-button-tetriary) - var(--space-2));

	backdrop-filter: var(--blur);
}

@media (hover: hover) {
	.link:hover {
		background-color: var(--color-button-background-secondary-hover-solid);
		color: var(--color-gray);
	}
}

.link:active {
	opacity: 0.6;
}
