.container {
	max-width: var(--content-main-width-max);
	margin-inline: auto;

	margin-block-end: var(--space-13);
}

.title_1 {
	display: block;
	text-align: center;

	margin-block-end: var(--offset-title-serif-primary);
}

.title_2 {
	display: block;
	text-align: center;

	margin-block-end: var(--space-13);
}

.container_video {
	max-width: var(--space-20);
	aspect-ratio: 4 / 5;

	border-radius: var(--border-radius-4);
	border: var(--space-px) solid var(--color-base-alpha-muted);
	overflow: hidden;

	margin-inline: auto;
	margin-block-end: var(--space-13);
}

.video {
	object-fit: cover;
}

.container_message {
	margin-inline: auto;

	text-align: center;
	max-width: 32ch;
}
