.container {
	max-width: var(--content-main-width-max);
	margin-inline: auto;

	margin-block-end: var(--offset-sections-mini);
}

.h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title_1 {
	display: block;
	text-align: center;

	margin-block-end: var(--offset-title-serif-primary);
	padding-inline: 0.1em;
}

.title_2 {
	display: block;
	text-align: center;

	margin-block-end: var(--offset-sections-mini);
	padding-inline: 0.1em;
}

.container_video {
	max-width: var(--space-20);
	aspect-ratio: 4 / 5;

	border-radius: var(--border-radius-main);
	border: var(--space-px) solid var(--color-border-light);
	overflow: hidden;

	margin-inline: auto;
	margin-block-end: var(--offset-sections-mini);
}

.video {
	object-fit: cover;
}

.container_message {
	margin-inline: auto;
	text-align: center;

	padding-inline: var(--offset-base);
}
