.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	padding-block-start: var(--offset-base);

	pointer-events: none;
}

.header {
	margin-inline: auto;

	display: flex;
	align-items: center;
	column-gap: var(--space-2);

	height: var(--space-13);
	padding: var(--space-2);
	width: fit-content;

	background-color: var(--color-base-alpha-subtle);
	border: var(--space-px) solid var(--color-base-alpha-muted);
	border-radius: var(--border-radius-4);

	pointer-events: auto;

	position: relative;

	backdrop-filter: blur(24px);
}
