.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	padding-block-start: var(--offset-base);

	pointer-events: none;
}

.header {
	margin-inline: auto;

	display: flex;
	align-items: center;
	column-gap: var(--space-2);

	height: var(--space-14);
	padding: var(--space-2);
	width: fit-content;

	background-color: var(--color-background-transparent-dark-xl);
	border: var(--space-px) solid var(--color-border-light);
	border-radius: var(--border-radius-main);

	pointer-events: auto;

	position: relative;
}

.container_logo {
	display: flex;
	align-items: center;
	height: 100%;
}
