.inner {
	/* background-color: var(--color-gray); */
	min-height: 100svh;
}

.page {
	/* background-color: var(--color-gray); */
	min-height: 100svh;
}

.slide {
	height: 100svh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: var(--color-base);
	z-index: 1;
}
