.container {
	max-width: var(--content-main-width-max);
	margin-inline: auto;
	padding: var(--offset-base);
	margin-block-end: var(--offset-sections-mini);
	
	border-radius: var(--border-radius-main);
	background-color: var(--color-base);
}

.grid {
	display: grid;
	grid-template-columns: var(--col-1-width) 1fr;
	column-gap: var(--offset-base);
}

.top {
	color: var(--color-text-secondary);
	padding-block-end: var(--offset-sections-small);
}

.nums {
	justify-self: flex-end;
}

@media (width >= 600px) {
	.nums {
		justify-self: initial;
	}
}

.text {
	color: var(--color-gray);
}
