.container {
	max-width: var(--content-main-width-max);
	margin-inline: auto;

	padding-inline: var(--offset-base);
	margin-block-end: var(--offset-sections-mini);

	display: flex;
	flex-direction: column;
	row-gap: var(--space-8);
}

.top {
	display: flex;
	justify-content: space-between;

	color: var(--color-text-secondary);
}

.container_icon {
	display: flex;
	column-gap: var(--space-1);
	padding-block-start: var(--space-3);
}

.nums {
	justify-self: flex-end;
}

@media (width >= 600px) {
	.nums {
		justify-self: initial;
	}
}

.text {
	max-width: 35ch;
}
