.container {
	max-width: var(--content-wide-width-max);
	margin-inline: auto;
}

.container_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: var(--space-11);

	margin-block-end: var(--space-13);
}

.icons {
	display: flex;
	column-gap: var(--space-1);
}

.title_1 {
	display: block;
	margin-block-end: var(--offset-title-serif-primary);
	text-align: center;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: var(--offset-sections-small);
}
