.base {
	padding-inline: var(--offset-button-secondary);
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: var(--border-radius-secondary);

	background-color: var(--color-base-alpha-transparent);
	color: var(--color-base);
}
@media (hover: hover) {
	.base:hover {
		background-color: var(--color-button-background-hover);
		color: var(--color-base);
	}
}

.children {
	display: inline-block;
	margin-block-end: var(--space-px);
}
