.button {
	display: flex;
	align-items: center;
	height: 100%;
	padding-inline: var(--offset-button-secondary-extended);

	border-radius: var(--border-radius-secondary);

	background-color: var(--color-base-alpha-transparent);
	color: var(--color-base);
}

.button:active {
	opacity: 0.6;
}

.children {
	display: inline-block;
	margin-block-end: var(--space-px);
}
