.base {
	padding-inline: var(--offset-button-secondary);
	height: 100%;
	display: flex;
	align-items: center;

	border-radius: var(--border-radius-3);
}

.base:hover {
	background-color: var(--color-base-alpha-20);
	color: var(--color-base);
}

.children {
	display: inline-block;
	margin-block-end: var(--space-px);
}
