/* ================================================== */
/* */
/* BASE */

body {
	background-color: var(--color-gray-0);
	color: var(--color-base);
	display: grid;
	place-content: center;
}

/* ================================================== */
/* */
/* FONTS */

.f_serif {
	font-family: var(--font-serif);
	font-size: var(--font-size-10);
	font-weight: 400;
	line-height: var(--line-height-serif);
	letter-spacing: var(--letter-spacing-base);
}
