.link {
	display: flex;
	align-items: center;
	height: 100%;

	padding-inline: var(--offset-button-secondary);
	border-radius: var(--border-radius-3);
}

.link:hover {
	background-color: var(--color-base-alpha-20);
}

.image {
	margin-block-end: var(--space-1);
	height: var(--space-10);
	width: auto;
}
