.link {
	display: flex;
	align-items: center;
	height: 100%;
	padding-inline: var(--offset-button-secondary);
	padding-block-end: var(--space-1);

	border-radius: var(--border-radius-3);

	background-color: var(--color-base-alpha-transparent);
}
@media (hover: hover) {
	.link:hover {
		/* background-color: var(--color-base-alpha-mid); */
		background-color: var(--color-base-alpha-muted);
	}
}
