.base {
	padding-inline: var(--offset-button-secondary);
	padding-block: calc(var(--offset-button-secondary) - var(--space-2));

	width: 100%;
	height: revert;
	border-radius: var(--border-radius-secondary);

	display: flex;
	align-items: center;
}

@media (width >= 768px) {
	.base {
		width: revert;
		height: 100%;
		padding-block: revert;
	}
}

@media (hover: hover) {
	.base:hover {
		background-color: var(--color-button-background-hover);
		color: var(--color-base);
	}
}

.children {
	display: inline-block;
	margin-block-end: var(--space-px);
}

.transparent {
	color: var(--color-base-alpha-xxl);
}

.solid {
	color: var(--color-base);
}
