:root {
	/* Colors */
	--hue: 228;
	--color-base: hsl(var(--hue), 33%, 94%);
	--color-gray: hsl(var(--hue), 0%, 0%);
	--color-gray-100: hsl(var(--hue), 11%, 9%);
	--color-gray-200: hsl(var(--hue), 11%, 18%);
	--color-gray-300: hsl(var(--hue), 12%, 27%);
	--color-gray-400: hwb(var(--hue) 36% 56%);
	--color-gray-450: hsl(var(--hue), 12%, 56%);
	--color-gray-500: hsl(var(--hue), 15%, 64%);
	--color-gray-700: hsl(var(--hue), 15%, 72%);
	--color-gray-900: hsl(var(--hue), 11%, 85%);
	--color-blue: hsl(var(--hue), 100%, 70%);

	/* Transparent - light */
	--color-base-alpha-xxl: hsla(var(--hue), 33%, 94%, 0.5);
	--color-base-alpha-xl: hsla(var(--hue), 33%, 94%, 0.32);
	--color-base-alpha-l: hsla(var(--hue), 33%, 94%, 0.2);
	--color-base-alpha-m: hsla(var(--hue), 33%, 94%, 0.12);
	--color-base-alpha-s: hsla(var(--hue), 33%, 94%, 0.06);
	--color-base-alpha-transparent: hsla(var(--hue), 33%, 94%, 0);

	/* Transparent - dark */
	--color-gray-alpha-xxl: hsla(var(--hue), 0%, 0%, 0.5);
	--color-gray-alpha-xl: hsla(var(--hue), 0%, 0%, 0.3);
	--color-gray-alpha-m: hsla(var(--hue), 0%, 0%, 0.2);
	--color-gray-alpha-s: hsla(var(--hue), 0%, 0%, 0.1);
	--color-gray-alpha-transparent: hsla(var(--hue), 0%, 0%, 0);

	/* ================================================== */
	/* */
	/* COMPONENTS */

	/* Accent */
	--color-accent: var(--color-gray-450);

	/* Blur */
	--blur: blur(var(--space-11)); /* 24px */

	/* Border */
	--color-border-light: none;
	--color-border-dark: none;

	/* Button */
	--color-button-background: var(--color-base);

	--color-button-background-secondary: var(--color-gray-alpha-s);
	--color-button-background-secondary-hover: var(--color-base-alpha-l);
	--color-button-background-secondary-hover-solid: var(--color-base);

	--color-button-background-tetriary: var(--color-base-alpha-m);


	/* Cards & Bars */
	--color-background-transparent-dark: var(--color-gray-alpha-s);
	--color-background-transparent-dark-xl: var(--color-gray-alpha-xxl);
	--color-background-transparent-light: var(--color-base-alpha-s);
	--color-background-solid: var(--color-gray);

	/* Line */
	--color-line-light: var(--color-base-alpha-l);
	--color-line-dark: var(--color-gray-alpha-s);

	/* Link */
	--color-link: var(--color-accent);

	/* Text */
	--color-text-secondary: var(--color-gray-450);
}

.invert_colors {
	--color-base: hsl(var(--hue), 0%, 0%);
	--color-gray: hsl(var(--hue), 33%, 94%);
	--color-gray-100: hsl(var(--hue), 11%, 85%);
	--color-gray-200: hsl(var(--hue), 9%, 51%);
	--color-gray-300: hsl(var(--hue), 12%, 27%);
	--color-gray-400: hsl(var(--hue), 11%, 18%);
	--color-gray-900: hsl(var(--hue), 11%, 9%);

	/* Transparent - light */
	--color-base-alpha-xxl: hsla(var(--hue), 0%, 0%, 0.5);
	--color-base-alpha-l: hsla(var(--hue), 0%, 0%, 0.12);
	--color-base-alpha-m: hsla(var(--hue), 0%, 0%, 0.1);
	--color-base-alpha-s: hsla(var(--hue), 0%, 0%, 0.06);
	--color-base-alpha-transparent: hsla(var(--hue), 0%, 0%, 0);

	/* Transparent - dark */
	--color-gray-alpha-xl: hsla(var(--hue), 33%, 94%, 0.3);
	--color-gray-alpha-transparent: hsla(var(--hue), 33%, 94%, 0);

	/* ================================================== */
	/* */
	/* COMPONENTS */

	/* Button */
	--color-button-background-secondary-hover: var(--color-base-alpha-l);
}
