:root {
	/* Spacing */
	--space-base: calc(1rem / 16); /* default: 16 (1px) */
	--space-0: calc(0 * var(--space-base));
	--space-px: calc(1 * var(--space-base));
	--space-1: calc(2 * var(--space-base));
	--space-2: calc(4 * var(--space-base));
	--space-3: calc(6 * var(--space-base));
	--space-4: calc(8 * var(--space-base));
	--space-5: calc(10 * var(--space-base));
	--space-6: calc(12 * var(--space-base));
	--space-7: calc(14 * var(--space-base));
	--space-8: calc(16 * var(--space-base));
	--space-9: calc(18 * var(--space-base));
	--space-10: calc(20 * var(--space-base));
	--space-11: calc(24 * var(--space-base));
	--space-12: calc(32 * var(--space-base));
	--space-13: calc(40 * var(--space-base));
	--space-14: calc(48 * var(--space-base));
	--space-15: calc(56 * var(--space-base));
	--space-16: calc(64 * var(--space-base));
	--space-17: calc(80 * var(--space-base));
	--space-18: calc(96 * var(--space-base));
	--space-19: calc(128 * var(--space-base));
	--space-20: calc(256 * var(--space-base));

	/* Border-radius */
	--border-radius-main: var(--space-6);
	--border-radius-secondary: var(--space-4);

	/* Content width */
	--content-wide-width-max: calc(var(--space-18) * 10); /* 960px */
	--content-main-width-max: calc(var(--space-13) * 15); /* 600px */

	/* Distances */
	--offset-sections: calc(var(--space-17) + var(--space-19)); /* 208px */
	--offset-sections-large: calc(var(--space-17) * 2); /* 160px */
	--offset-sections-mid: var(--space-19); /* 128px */
	--offset-sections-small: var(--space-17); /* 80px */

	--offset-base: var(--space-10); /* 20px */

	--offset-button-primary: var(--space-9); /* 18px */
	--offset-button-secondary: var(--space-6); /* 12px */
	--offset-button-tetriary: var(--space-4); /* 8px */

	/* Home (experience, achievements) */
	--table-col-1-width: calc(var(--space-19) - var(--space-4)); /* 120px */

	--offset-title-serif-primary: var(--space-1);
	--offset-title-serif-secondary: var(--space-2);

	/* Sizes */
	--width-card-experiment: calc(
		(var(--content-wide-width-max) - var(--offset-base) * 2) / 3
	);
	--height-card-experiment: calc(var(--space-20) * 2); /* 512px */
}

@media (width < 600px) {
	:root {
		/* Distances */
		--offset-sections: calc(var(--space-17) * 2); /* 160px */
		--offset-sections-large: var(--space-19); /* 128px */
		--offset-sections-mid: var(--space-17); /* 80px */
		--offset-sections-small: var(--space-15); /* 56px */

		--offset-base: var(--space-8); /* 16px */

		/* Sizes */
		--height-card-experiment: calc(
			var(--space-20) * 2 - var(--space-19)
		); /* 384px */
	}
}
