:root {
	/* Colors */
	--color-base: #ebedf5;
	--color-base-alpha-heavy: rgba(235, 237, 245, 0.5);
	--color-base-alpha-mid: rgba(235, 237, 245, 0.2);
	--color-base-alpha-muted: rgba(235, 237, 245, 0.16);
	--color-base-alpha-subtle: rgba(235, 237, 245, 0.06);

	--color-gray-0: #000000;
	--color-gray-alpha-muted: rgba(0, 0, 0, 0.3);
	--color-gray-alpha-transparent: rgba(0, 0, 0, 0);

	--color-gray-100: #15161a;
	--color-gray-200: #292b33;
	--color-gray-300: #3d404d;
	--color-gray-400: #767a8c;
	--color-gray-900: #d3d5dc;
}
