.container_vertical {
	height: 100%;
}

.vertical_padding {
	padding-block: var(--space-2) !important;
}

.container_horizontal {
	width: 100%;
}

.horizontal_padding {
	padding-inline: var(--space-5) !important;
}

.line {
	background-color: var(--color-line-light);
}

.line_vertical {
	height: 100%;
	width: var(--space-px) !important;
}

.line_horizontal {
	height: var(--space-px) !important;
	width: 100%;
}

.mob_hidden {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1;
	width: 1;
	margin: -1;
	padding: 0;
	border: 0;
}

@media (width >= 768px) {
	.mob_hidden {
		display: flex;

		position: initial;
		overflow: visible;
		clip: auto;
		height: 100%;
		width: 100%;
		margin: 0;
		border: none;
	}
}
