.container_vertical {
	height: 100%;
}

.vertical_padding {
	padding-block: var(--space-2);
}

.container_horizontal {
	width: 100%;
}

.horizontal_padding {
	padding-inline: var(--space-5);
}

.line {
	background-color: var(--color-border-light);
}

.line_vertical {
	height: 100%;
	width: var(--space-px);
}

.line_horizontal {
	height: var(--space-px);
	width: 100%;
}
