.container {
	max-width: var(--content-main-width-max);
	margin-inline: auto;

	padding-block-start: var(--offset-sections-mid);
	padding-block-end: var(--offset-sections-mid);
}

@media (width >= 768px) {
	.container {
		padding-block-start: var(--offset-sections);
	}
}

.content {
	display: flex;
	flex-direction: column;

	row-gap: var(--space-12);
	padding-inline: var(--space-0);
}

@media (width >= 600px) {
	.content {
		row-gap: var(--space-13);
		padding-inline: var(--offset-base);
	}
}

.container_image {
	display: inline-block;
	margin-block-end: var(--space-10);
}

.image {
	height: var(--space-16);
	width: auto;
}

@media (width >= 600px) {
	.image {
		height: var(--space-17);
		width: auto;
	}
}

.details {
	color: var(--color-text-secondary);
}
