.video,
.image {
	object-fit: cover;
	background-color: var(--color-background-solid);
}

.overlay_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background: linear-gradient(
		var(--color-gray),
		var(--color-gray-alpha-transparent)
	);
	/* background: linear-gradient(red, blue); */
}

.overlay_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	background: linear-gradient(
		var(--color-gray-alpha-transparent),
		var(--color-gray)
	);
	/* background: linear-gradient(red, blue); */
}
