.a {
	display: flex;
	flex-direction: column;

	padding: var(--offset-base);
	width: 100%;
	border-radius: var(--border-radius-4);

	position: relative;

	row-gap: var(--space-19);
}

@media (width >= 600px) {
	.a {
		row-gap: var(--space-0);
	}
}

.title_1 {
	display: block;
	margin-block-end: var(--space-2);
}

.title_2 {
	display: block;
}

.top {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.bottom {
	display: flex;
	justify-content: space-between;

	align-items: center;
}

.container_icon {
	height: fit-content;
	position: relative;
	bottom: var(--space-2);
}

.container_video {
	position: absolute;
	top: 0;
	left: 00;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: var(--border-radius-4);
	overflow: hidden;
}

.video {
	position: absolute;
	transform: translateY(-15%);
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-blue-saturated);
	mix-blend-mode: multiply;
}
