.container {
	max-width: var(--content-wide-width-max);
	margin-inline: auto;

	padding-block: var(--offset-sections-mid);
}

.content {
	max-width: var(--content-main-width-max);
	margin-inline: auto;
	padding-inline: var(--offset-base);
}

.container_title {
	display: flex;
	column-gap: var(--space-4);
	align-items: flex-end;
}

.title_2 {
	margin-block-end: var(--space-1);
	color: var(--color-accent);
}
