.container {
	max-width: var(--content-wide-width-max);
	margin-inline: auto;
}

.h2 {
	max-width: var(--content-main-width-max);
	margin-inline: auto;
	padding-inline: var(--offset-base);

	padding-block-end: var(--offset-sections-mini);
}

@media (width >= 600px) {
	.h2 {
		padding-block-end: calc(var(--offset-sections-mini) + var(--space-11));
	}
}

.container_title {
	display: flex;
	column-gap: var(--space-4);
	align-items: flex-end;
}

.title_2 {
	margin-block-end: var(--space-1);
	color: var(--color-text-secondary);
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: var(--offset-sections-small);
}

.icon {
	position: relative;
	bottom: var(--space-px);
}

.end_container {
	width: fit-content;
	margin-inline: auto;
	padding-block: var(--offset-sections-small);

	display: flex;
}

.end_title {
	padding-inline: var(--space-12);
}
