.container {
	max-width: var(--content-wide-width-max);
	margin-inline: auto;

	padding-block-start: var(--offset-sections);
	padding-block-end: var(--offset-sections-mid);
}

.content {
	max-width: var(--content-main-width-max);
	margin-inline: auto;
}

.h1 {
	font-size: var(--font-size-10);
	margin-block-end: var(--offset-sections-mini);
}

@media (width >= 600px) {
	.h1 {
		font-size: var(--font-size-11);
	}
}

.container_description {
	display: flex;
	column-gap: calc(var(--offset-base) * 2);

	flex-direction: column;
	align-items: stretch;
	justify-content: initial;
}

@media (width >= 600px) {
	.container_description {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.isButtonVisible_container {
	padding-block-end: var(--space-11);
}

@media (width >= 600px) {
	.isButtonVisible_container {
		padding-block-end: var(--offset-base);
	}
}

.isNotButtonVisible_container {
	padding-block-end: var(--offset-base);
}

.grid {
	flex: 2;
	padding-block-start: var(--space-2);

	grid-template-columns: var(--space-17) 1fr;
	column-gap: var(--offset-base);

	display: grid;
}

@media (width >= 600px) {
	.grid {
		display: initial;
	}
}

.isButtonVisible_text {
	padding-block-end: var(--offset-base);
}

@media (width >= 600px) {
	.isButtonVisible_text {
		padding-block-end: var(--space-0);
	}
}

.isNotButtonVisible_text {
	padding-block-end: var(--space-0);
}

.container_icon {
	display: flex;

	column-gap: var(--space-px);
	grid-column: 1 / 2;
	padding-block-start: calc(var(--space-2) + var(--space-px));
}

@media (width >= 600px) {
	.container_icon {
		display: none;
	}
}

.description {
	margin-block-end: var(--space-1);
	grid-column: 2 / -1;

	max-width: initial;
	text-align: left;
	max-width: 25ch;
}

.container_button {
	flex: 1;
}

.container_video {
	border-radius: var(--border-radius-main);
	border: var(--space-px) solid var(--color-border-light);
	background-color: var(--color-background-solid);

	overflow: hidden;

	/* height: var(--height-card-experiment); */

	height: auto;
	width: 100%;
	aspect-ratio: var(--aspect-card-media);
}

@media (width >= 768px) {
	.container_video {
		height: var(--height-card-project);
	}
}
