.container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: 100%;
}

@media (width >= 768px) {
	.container {
		display: none;
	}
}

.children {
	position: absolute;
	top: calc(100% + var(--space-4));
	left: 50%;
	transform: translateX(-50%);

	background-color: var(--color-background-transparent-dark);
	border: var(--space-px) solid var(--color-border-light);
	border-radius: var(--border-radius-main);

	padding: var(--space-2);

	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}
