.grid {
	display: grid;
	padding-block-start: var(--space-6);

	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, min-content);
}

@media (width >= 600px) {
	.grid {
		grid-template-columns: var(--table-col-1-width) 1fr;
		grid-template-rows: min-content;
	}
}

.distance:not(:last-of-type) {
	padding-block-end: var(--space-6);
}

.line {
	height: var(--space-px);
	background-color: var(--color-line-dark);
}

.years {
	display: flex;
	flex-grow: 0;

	& span {
		align-self: flex-end;
		margin-block-end: var(--space-px);
	}
}

@media (width >= 600px) {
	.years {
		flex-grow: 1;
	}
}

.duration {
	display: flex;
	flex-grow: 0;

	color: var(--color-text-secondary);

	& span {
		align-self: flex-end;
		margin-block-end: var(--space-px);
	}
}

@media (width >= 600px) {
	.duration {
		flex-grow: 1;
	}
}

.role {
	text-transform: capitalize;
}

.company {
	color: var(--color-text-secondary);
}

.col_right {
	display: flex;
	flex-direction: column;

	margin-block-end: var(--space-10);
	grid-row: 1 / 2;
}

@media (width >= 600px) {
	.col_right {
		margin-block-end: var(--space-0);
		grid-row: revert;
	}
}

.col_left {
	display: flex;

	justify-content: space-between;
	flex-direction: row;
	grid-row: 2 / -1;
}

@media (width >= 600px) {
	.col_left {
		justify-content: revert;
		flex-direction: column;
		grid-row: revert;
	}
}
