.grid {
	display: grid;
	grid-template-columns: var(--table-col-1-width) 1fr;
	padding-block-start: var(--space-6);
}

.distance:not(:last-of-type) {
	padding-block-end: var(--space-6);
}

.line {
	height: var(--space-px);
	background-color: var(--color-gray-900);
}

.years {
	display: flex;
	flex: 1;

	& span {
		align-self: flex-end;
	}
}

.duration {
	display: flex;
	flex: 1;
	color: var(--color-gray-450);

	& span {
		align-self: flex-end;
	}
}

.company {
	color: var(--color-gray-450);
}

.col_left,
.col_right {
	display: flex;
	flex-direction: column;
}
