.link {
	color: var(--color-link);

	text-decoration-line: underline;
	text-decoration-color: var(--color-link-underline);
	text-decoration-style: dotted;
	text-decoration-thickness: 0.1em;
	text-underline-offset: var(--space-2);

	cursor: pointer;
}

@media (hover: hover) {
	.link:hover {
		color: var(--color-link-hover);
		text-decoration-color: var(--color-link-underline-hover);
	}
}
