.link {
	color: var(--color-link);
	cursor: pointer;

	background-image: linear-gradient(var(--color-link), var(--color-link));
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-size: 0 var(--space-px);

	transition-property: background-size;
	white-space: nowrap;
}

@media (hover: hover) {
	.link:hover {
		background-size: 100% var(--space-px);
	}
}

.icon {
	padding-inline-start: 0.3em;
	padding-inline-end: 0.15em;

	position: relative;
	bottom: 0.05em;
}
