.article {
	flex: 1;
	height: var(--height-card-experiment);
	padding: var(--space-8);

	border: var(--space-px) solid var(--color-border-light);
	border-radius: var(--border-radius-main);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	overflow: hidden;
}

.link {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container_media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.top {
	display: flex;
	height: fit-content;

	justify-content: flex-end;
}

.container_text {
	display: flex;
	flex-direction: column;
	justify-content: initial;
	align-items: flex-start;

	column-gap: var(--offset-sections-mini);
}

@media (width >= 600px) {
	.container_text {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
}

.title {
	/* display: inline-flex; */
}

.subtitle {
	color: var(--color-text-secondary);
	text-align: end;
}

.mobile_icon {
	display: flex;
	position: absolute;
	height: fit-content;
	width: fit-content;
	top: var(--space-10);
	right: var(--space-10);
}

@media (width >= 768px) {
	.mobile_icon {
		display: none;
	}
}
