.container {
	border: var(--space-px) solid var(--color-border-light);
	border-radius: var(--border-radius-main);
	background-color: var(--color-background-solid);

	padding: var(--offset-base);
	margin-block-end: var(--offset-base);
	margin-inline: auto;

	max-width: var(--content-main-width-max);


}

.title {
	margin-block-end: var(--space-16);
}

.grid {
	display: grid;
	grid-template-columns: var(--table-col-1-width) 1fr;
}

.table_head_item {
	color: var(--color-text-secondary);
	padding-block-end: var(--space-6);
}
