.container {
	max-width: var(--content-main-width-max);
	margin-inline: auto;
	background-color: var(--color-base);

	border-radius: var(--border-radius-4);
	padding: var(--offset-base);

	color: var(--color-gray-0);
}

.title {
	margin-block-end: var(--space-16);
}

.grid {
	display: grid;
	grid-template-columns: var(--table-col-1-width) 1fr;
}

.table_head_item {
	color: var(--color-gray-450);
	padding-block-end: var(--space-6);
}
