.container {
	border-radius: var(--border-radius-main);
	background-color: var(--color-base);
	color: var(--color-gray);

	padding: var(--offset-base);
	margin-block-end: var(--offset-base);
	margin-inline: auto;

	max-width: var(--content-main-width-max);

}

.title {
	display: block;
	margin-block-end: var(--space-16);
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
}

@media (width >= 600px) {
	.grid {
		grid-template-columns: var(--table-col-1-width) 1fr;
	}
}

.grid.head {
	display: none;
}

@media (width >= 600px) {
	.grid.head {
		display: grid;
	}
}

.table_head_item {
	color: var(--color-text-secondary);
	padding-block-end: var(--space-6);
}
