.container {
	padding: var(--offset-base);
	width: 100%;
}

.h2 {
	margin-block-end: var(--space-16);
}

.title_1 {
	display: block;
	margin-block-end: var(--space-2);
}

.title_2 {
	display: block;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-3);
}
