.button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: var(--space-10);

	border-radius: var(--border-radius-secondary);
	padding: var(--offset-button-secondary);

	background-color: var(--color-button-background-secondary);
	backdrop-filter: var(--blur);

	height: var(--space-13);
	width: var(--space-13);

	overflow: hidden;
}

.text {
	display: inline-block;
	text-wrap: nowrap;
}

.master_container_icon {
	display: flex;
}

.container_icon {
	position: relative;
	bottom: var(--space-px);
	right: var(--space-1);
	overflow: clip;
}

.icon {
	display: inline-block;
}
