.button {
	display: flex;

	background-color: var(--color-button-background-secondary);
	border-radius: var(--border-radius-secondary);

	padding: var(--offset-button-secondary);
	width: fit-content;

	backdrop-filter: var(--blur);
}

@media (hover: hover) {
	.button:hover {
		background-color: var(--color-button-background-secondary-hover-solid);
		color: var(--color-gray);
		& path {
			fill: var(--color-gray);
		}
	}
}

.items {
	display: flex;
	align-items: center;
	gap: var(--space-6);

	width: 100%;
}

.space_between {
	justify-content: space-between;
}

.hidden_letter {
	position: relative;
	left: 50%;
	visibility: hidden;
	cursor: none;
}

.icon {
	position: relative;
	bottom: var(--space-px);
	left: calc(var(--space-2) + var(--space-px));
}

.text {
	display: none;
}

@media (hover: hover) {
	.button:hover .text {
		display: initial;
	}

	.button:hover {
		padding-inline-start: var(--offset-button-secondary);
	}
}
