.container_video {
	margin-block-end: var(--space-11);

	border-radius: var(--border-radius-main);
	border: var(--space-px) solid var(--color-border-light);
	background-color: var(--color-background-solid);

	overflow: hidden;

	height: var(--height-card-experiment);
}

.container_details {
	max-width: var(--content-main-width-max);
	width: 100%;
	margin-inline: auto;
	padding-inline: var(--offset-base);
}

.top {
	display: flex;
	margin-block-end: var(--space-8);

	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

@media (width >= 600px) {
	.top {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.title {
	margin-block-end: var(--offset-sections-mini);
}

@media (width >= 600px) {
	.title {
		margin-block-end: var(--space-0);
	}
}

.grid {
	width: 100%;
	display: grid;

	grid-template-columns: var(--col-1-width) 1fr;
	column-gap: var(--offset-base);
}

@media (width >= 600px) {
	.grid {
		width: initial;
		display: initial;
	}
}

.container_icon {
	display: flex;

	column-gap: var(--space-px);
	grid-column: 1 / 2;
	padding-block-start: calc(var(--space-2) + var(--space-px));
}

@media (width >= 600px) {
	.container_icon {
		display: none;
	}
}

.subtitle {
	margin-block-end: var(--space-1);
	grid-column: 2 / -1;

	max-width: initial;
	text-align: left;
}

@media (width >= 600px) {
	.subtitle {
		max-width: 20ch;
		text-align: right;
	}
}

.bottom {
	padding-block: var(--space-10);

	display: flex;
	flex-direction: column;
	row-gap: var(--offset-base);
}

@media (width >= 600px) {
	.bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: var(--offset-base);
	}
}

.part_1 {
	grid-column: 1 / 2;
}

.part_2 {
	grid-column: 2 / 3;
}

.part_3 {
	grid-column: 3 / -1;
}

.right {
	justify-items: flex-start;
}

@media (width >= 600px) {
	.right {
		justify-items: flex-end;
	}
}

.column_title {
	color: var(--color-text-secondary);
	margin-block-end: var(--space-6);
}

.list {
	width: fit-content;
}

.list > :not(:last-child) {
	margin-block-end: var(--space-1);
}
