.link {
	color: var(--color-link);
	cursor: pointer;

	background-image: linear-gradient(var(--color-link), var(--color-link));
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-size: 0 var(--space-px);

	transition-property: background-size;
}

@media (hover: hover) {
	.link:hover {
		background-size: 100% var(--space-px);
	}
}

.container_image {
	position: relative;
	display: flex;
	padding: 1rem;

	--aspect: 16 / 9;

	aspect-ratio: var(--aspect);
	width: 80vmin;
	height: auto;

	background-color: var(--color-background-transparent-dark);

	border: var(--space-px) solid var(--color-border-light);
	border-radius: var(--border-radius-main);

	margin-inline: var(--offset-base);

	backdrop-filter: var(--blur);
}

.image {
	aspect-ratio: var(--aspect);
	border-radius: var(--border-radius-main);
	object-fit: cover;
	width: 100%;
	height: 100%;
}
