.container {
	padding-block-start: var(--offset-sections);
	margin-block-end: var(--offset-sections);
	position: relative;
}

.content {
	max-width: var(--content-wide-width-max);
	margin-inline: auto;
}

.title {
	width: fit-content;
	margin-inline: auto;
	margin-block-end: var(--space-12);
}

.subtitle {
	width: fit-content;
	margin-inline: auto;
	margin-block-end: var(--space-12);
	max-width: 40ch;
	text-align: center;
}

.icons {
	display: flex;
	column-gap: var(--space-1);
	width: fit-content;
	margin-inline: auto;
	margin-block-end: var(--offset-sections-mini);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: var(--offset-base);
}

.title_letter {
	display: inline-flex;
	animation: blink 1s infinite steps(1);
}

@keyframes blink {
	0%,
	49% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0.25;
	}
}
