.container {
	padding-block-start: var(--offset-sections);
	margin-block-end: var(--offset-sections);
	position: relative;
}

.content {
	max-width: var(--content-wide-width-max);
	margin-inline: auto;
}

.title {
	width: fit-content;
	margin-inline: auto;
	margin-block-end: var(--space-12);
}

.subtitle {
	width: fit-content;
	margin-inline: auto;
	margin-block-end: var(--space-12);
	max-width: 40ch;
	text-align: center;
}

.icons {
	display: flex;
	column-gap: var(--space-1);
	width: fit-content;
	margin-inline: auto;
	margin-block-end: var(--space-13);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: var(--offset-base);
}

.title_letter {
	display: inline-flex;
	animation: blink 2s infinite steps(1);
}

@keyframes blink {
	0%,
	24% {
		opacity: 1;
		transform: rotateX(0deg);
	}
	25%,
	49% {
		opacity: 0;
	}
	50%,
	74% {
		opacity: 1;
		transform: rotateX(180deg) translateY(calc(0.15em * -1));
	}
	75%,
	100% {
		opacity: 0;
	}
}
